body {
    font-family: Helvetica, sans-serif;
    padding-top: 7rem;
}

.uppercase {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#header {
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    top: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #AAA;
    background: white;
    z-index: 1;
}
#logo {
    width: 200px;
    height: 50px;
    background-image: url('../res/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
}
#nav {
    display: flex;
    flex-flow: row;
    width: 60%;
}
#user-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.nav-link, .setting-link, .nav-inner {
    text-decoration: none;
    color: #AAA;
    align-self: center;
    text-align: center;
    transition: color 0.1s ease-in-out;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.nav-link, .nav-inner {
    flex: 1;
    padding: 5px 5px 15px 5px;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
}

.nav-container .nav-link {
    font-size: 1em;
}

.nav-container {
    position: absolute;
    display: flex;
    flex-flow: column;
    opacity: 0;
    z-index: -999;
    background: white;
    pointer-events: none;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 100%;
    overflow: hidden;
    border: 1px solid #AAA;
    transition: all 0.1s ease-in-out;
    padding: 10px;
}

.nav-inner:hover .nav-container {   
    opacity: 1;
    height: auto;
    pointer-events: all;
}

.setting-link {
    padding: 35px;
    height: 100%;
    vertical-align: center;
}

.setting-link:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

.nav-link:hover, .setting-link:hover, .setting-link.active, .nav-link.active, .nav-inner.active {
    color: #444;
}

#content {
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    text-align: justify;
}

#breadcrumbs {
    margin-top: 99px;
    list-style: none;
    padding: 10px;
    display: block;
}

.breadcrumb-item {
    display: inline-block;
    padding-left: 5px;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #666;
}

.breadcrumb-item:not(:last-child)::after {
    border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
    width: 0.45em;
    transform: rotateZ(45deg);
}

label {
    display: block;
    padding: 5px;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #666;
}

hr {
    width: 100%;
    margin: 20px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    font-size:18px;
    padding:10px 10px 10px 5px;
    margin-bottom: 10px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    transform: scale(1.035);
}

select:hover{
    cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"],
select:focus{
    outline:none;
}

input[type="checkbox"]{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100px;
  height: 4px;
  background: #444;
  border-radius: 5px;
  position: relative;
  top: -3px;
  left: -4px;
  outline: 0;
  margin: 0 -30px;
  transform: scale(0.3);
  cursor: pointer;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after{
  position: absolute;
  content: "";
  -webkit-transition: all .25s;
  transition: all .25s;
}

input[type="checkbox"]:before{
  width: 40px;
  height: 40px;
  background: #ddd;
  border: 5px solid #666;
  border-radius: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input[type="checkbox"]:after{
  width: 30px;
  height: 30px;
  background: #666;
  border-radius: 50%;
  top: 50%;
  left: 10px;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

input[type="checkbox"]:checked:before{
  left: calc(100% - 35px);
}

input[type="checkbox"]:checked:after{
  left: 75px;
  background: #6AD;
}

button, input[type="submit"] {
    padding: 5px;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    display: inline-block;
    text-transform: uppercase;
    color: #666;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:hover, input[type="submit"]:hover {
    color: #FFF;
    padding: 10px 16px;
    background-color: #666;
    border: 1px solid #666;
}

button:active, input[type="submit"]:active {
    color: #FFF;
    padding: 10px 16px;
    background-color: #444;
    border: 1px solid #444;
}

button:disabled, input[type="submit"]:disabled {
    pointer-events: none;
    cursor: default;
    filter: grayscale(50%);
    opacity: 0.5;
    user-select: none;
}

thead {
    background: #444;
}

tbody tr:nth-child(even) {
    background: #EEE;
}

th {
    padding: 5px;
    font-size: 0.9em;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    padding: 10px;
    color: #BBB;
}

td {
    padding: 5px;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    text-align: justify;
    font-weight: 200;
    padding: 15px;
    color: #444;
}

td button {
    display: block;
    width: 100%;
    max-width: 120px;
}

.iAction {
    width: 120px;
    padding: 10px;
}

.iStatus {
    text-align: center;
}

.input-group {
    box-sizing: border-box;
    padding: 10px;
}

.input-group.checkboxes {
    display: flex;
    flex-flow: column;
}

.input-group.small {
    width: 33%;
}

.btnOK:hover {
    color: #FFF;
    padding: 10px 16px;
    background-color: #6A6;
    border: 1px solid #6A6;
}

.btnOK:active{
    color: #FFF;
    padding: 10px 16px;
    background-color: #494;
    border: 1px solid #494;
}

.btnNO:hover {
    color: #FFF;
    padding: 10px 16px;
    background-color: #A66;
    border: 1px solid #A66;
}

.btnNO:active{
    color: #FFF;
    padding: 10px 16px;
    background-color: #944;
    border: 1px solid #944;
}

.btnSecondary:hover {
    color: #FFF;
    padding: 10px 16px;
    background-color: #AA6;
    border: 1px solid #AA6;
}

.btnSecondary:active, .btnSecondary.wire:active{
    color: #FFF;
    padding: 10px 16px;
    background-color: #994;
    border: 1px solid #994;
}

.btnOK.wire {
    color: #6A6;
    background-color: transparent;
    border: 1px solid #6A6;
}

.btnSecondary.wire {
    color: #AA6;
    background-color: transparent;
    border: 1px solid #AA6;
}

.btnOK.wire:hover {
    color: #FFF;
    padding: 10px 16px;
    background-color: #6A6;
    border: 1px solid #6A6;
}

.btnSecondary.wire:hover {
    color: #FFF;
    padding: 10px 16px;
    background-color: #AA6;
    border: 1px solid #AA6;
}

.btnOK.wire:active{
    color: #FFF;
    padding: 10px 16px;
    background-color: #494;
    border: 1px solid #494;
}

.btnNO.wire:active{
    color: #FFF;
    padding: 10px 16px;
    background-color: #944;
    border: 1px solid #944;
}

#btnPanel {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

a {
    color: #446;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: #37F;
    transition: color 0.1s ease-in-out;
}

.side {
    width: 18%;
    max-width: 300px;
    position: fixed;
    left: 0;
    top: 95px;
    bottom: 0;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    background: white;
}

@media only screen and (max-width: 1400px) {
    #content {
        width: 80%;
    }
    #nav {
        width: 60%;
    }
}